.register
  %h1= t '.title'

  .row
    .col-lg-6
      - if @user.errors.any?
        .text-danger
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      = simple_form_for @user, wrapper: :bootstrap, url: register_url do |f|
        = f.input :first_name
        = f.input :last_name
        = f.input :email
        = f.input :password
        = f.button :submit
