= simple_form_for [:admin, @task], wrapper: :bootstrap do |f|
  - if @task.errors.any?
    .text-danger
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title
  = f.input :description, as: :text, input_html: { rows: 7 }
  = f.input :due_date, as: :datetime_picker
  = f.association :assigned_user,
   label_method: :full_name,
   collection: User.with_role(:worker),
   include_blank: t('.select'),
   selected: @task.assigned_user_id

  = f.button :submit
