%h1= @task.title

%p
  = @task.description

%p
  = @task.due_date

%p
  = @task.author.full_name

%p
  = @task.assigned_user.full_name

= link_to 'Change', edit_admin_task_path(@task)
|
= link_to 'Back', admin_tasks_path