<!DOCTYPE html>
%html
%head
  %title TaskManager
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  .main
    = navbar fixed: :top do
      = navbar_header brand: 'TaskManager', brand_link: admin_path
      = navbar_collapse do
        = navbar_group class: 'foo', id: 'menu' do
          = navbar_item t('navbar_top.home'), admin_path
          = navbar_dropdown t('navbar_top.tasks.title') do
            = navbar_item t('navbar_top.tasks.list'), admin_tasks_path
            = navbar_item t('navbar_top.tasks.create'), new_admin_task_path
          = navbar_item t('navbar_top.users'), admin_users_path
        = navbar_group align: 'right' do
          = navbar_text @current_user.first_name
          = navbar_dropdown t('navbar_top.language') do
            - languages.each do |key, locale|
              = navbar_item key, locale
          = navbar_item t('navbar_top.logout'), logout_path

    #flash_messages
      = flash_messages

    = yield
