<!DOCTYPE html>
%html
%head
  %title TaskManager
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  .main
    = navbar fixed: :top do
      = navbar_header brand: 'TaskManager', brand_link: admin_path
      = navbar_collapse do
        = navbar_group class: 'foo', id: 'menu' do
          = navbar_item 'Home', admin_path
          = navbar_dropdown 'Tasks' do
            = navbar_item 'List', admin_tasks_path
            = navbar_item 'Create', new_admin_task_path
          = navbar_item 'Users'
        = navbar_group align: 'right' do
          = navbar_text @current_user.first_name
          = navbar_dropdown 'Language' do
            = navbar_item 'En'
            = navbar_item 'Ru'
          = navbar_item "Log Out", '/logout'

    #flash_messages
      = flash_messages

    = yield
