<!DOCTYPE html>
%html
  %head
    %title TaskManager
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body
  .main
    = navbar fixed: :top do
      = navbar_header brand: 'TaskManager', brand_link: root_path
      = navbar_collapse do
        = navbar_group class: 'foo', id: 'menu' do
          = navbar_item t('navbar_top.home'), root_path
        = navbar_group align: 'right' do
          - if authorized?
            = navbar_text @current_user.first_name
          = navbar_dropdown t('navbar_top.language') do
            - I18n.available_locales.each do |locale|
              = navbar_item locale.to_s.capitalize, '/' + locale.to_s + request.path
          - if authorized?
            = navbar_item t('navbar_top.logout'), logout_path

    #flash_messages
      = flash_messages
    = yield
